# Notebook Pertama (11 Juli 2022)

Notebook pertama saya dalam VSCode

In [1]:
print("Halo, nama saya Faisal Kengo. Kalian bisa panggil saya Faisal atau Kengo")

Halo, nama saya Faisal Kengo. Kalian bisa panggil saya Faisal atau Kengo

## Tipe Data dalam Python

Tipe data tunggal merupakan suatu tipe data yang hanya dapat merepresentasikan satu jenis data (Contoh: Integer, Float , Bool, Str). Sedangkan tipe data majemuk adalah suatu tipe data yang dapat merepresentasikan lebih dari satu macam data.

Berikut adalah contoh tipe data tunggal:

In [12]:
5

5

In [4]:
#Contoh tipe data integer
type(5)

int

In [15]:
#Contoh tipe data float
type(5.0)

float

In [16]:
#Contoh tipe data boolean
type(True)

bool

In [17]:
#Contoh tipe data string
type("Faisal")

str

In [14]:
#Tipe data yang muncul hanyalah tipe data yang paling terakhir diproses
type(5)
type(5.0)
type(True)
type("Faisal")

str

In [18]:
#Untuk menunjukkan tipe data dari dua perintah 'type', bungkus perintah 'type' dengan perintah 'print'
print(type(5))
print(type(5.0))
print(type(True))
print(type("Faisal"))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>

Berikut adalah contoh data majemuk:

In [26]:
#Contoh tipe data majemuk (1)
(1, 4, "Faisal", 6.9, False)

(1, 4, 'Faisal', 6.9, False)

In [28]:
#Contoh tipe data majemuk (2)
{'Nama':'Faisal Kengo', 'Usia':22}

{'Nama': 'Faisal Kengo', 'Usia': 22}

In [29]:
#Contoh tipe data tuple
print(type((1, 4, "Faisal", 6.9, False)))
#Contoh tipe data list
print(type([1, 4, "Faisal", 6.9, False]))
#Contoh tipe data dictionary
print(type({'Nama':'Faisal Kengo', 'Usia':22}))

<class 'tuple'>
<class 'list'>
<class 'dict'>

## Variabel

Variabel merupakan sebuah koefisien yang dapat digunakan untuk menyimpan suatu data agar dapat digunakan kembali di baris berikutnya.

In [31]:
x = 5
print(x)
#Tanda '=' digunakan untuk menyatakan nilai dari variabel tersebut

5

In [33]:
x + 4

9

In [40]:
#Semua variabel harus didefinisikan apabila akan digunakan
y = 2
x + y

7

In [41]:
#Nilai dari suatu variabel bisa didefinisikan ulang dengan memasukkan nilai yang baru
x = 2
print(x)
print(x+y)

2
4

Catatan: Perhatikan urutan cell pada notebook

In [49]:
#Tipe data variabel juga dapat dilihat dengan perintah 'Type'
print(type(x))
x_1 = 5.0
print(type(x_1))
x_2 = True
print(type(x_2))
x_3 = "Faisal"
print(type(x_3))
x_4 = "5"
print(type(x_4))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>
<class 'str'>

In [47]:
#Data dapat dimasukkan sekaligus di dalam satu baris
nama, usia = "Faisal Kengo", 22
print(nama)
print(usia)

Faisal Kengo
22

## Penamaan Variabel

Variabel di dalam python dapat dibuat sebebas-bebasnya dengan menggunakan huruf kapital dan huruf kecil, angka, dan simbol underscore dengan syarat nama variabel tidak diawali dengan angka dan tidak menggunakan nama perintah bawaan dari Python.

Umumnya penamaan variabel dibagi menjadi 3 jenis, yaitu:
1. Camel Case (huruf besar di setiap awal kata kecuali kata pertama dan tanpa spasi, umumnya digunakan untuk mengungkapkan kelas)
2. Pascal Case (huruf besar di setiap awal kata dan tanpa spasi, umumnya digunakan untuk mengungkapkan kelas)
3. Snake Case (huruf kecil di setiap awal kata dengan simbol underscore di antara dua kata, umumnya digunakan untuk mengungkapkan variabel)

In [50]:
#Contoh penamaan variabel yang benar
x_1 = 5.0
x_2 = True
x_3 = "Faisal"
x_4 = "5"
print(x_1, x_2, x_3, x_4)

5.0 True Faisal 5

## String

Di dalam python, penggunaan tanda kutip satu dan tanda kutip dua tidak dibedakan untuk mendefinisikan tipe data string. Untuk menuliskan string WAJIB menggunakan tanda kutip yang sama.

In [52]:
my_string = 'Faisal Kengo'
my_string_2 = 'Faisal Kengo'
type(my_string)

str

In [54]:
#Escape character merupakan karakter yang digunakan untuk 'memberi tahu' variabel yang digunakan bahwa tanda kutip yang digunakan merupakan bagian dari variabel tersebut
hari = 'Jum\'at'
print(hari)
#Lebih mudah untuk menggunakan tanda kutip yang lain untuk menandai variabel string dengan tanda kutip
quote = '"OPOP apalah saya"'
print(quote)

Jum'at
"OPOP apalah saya"

In [55]:
#Perintah 'len' digunakan untuk menghitung jumlah karakter di dalam suatu variabel string
len(quote)

18

In [66]:
#Jenis huruf di dalam variabel bisa ditampilkan dalam huruf lain tanpa mengubah nilai data aslinya.
print(quote.upper())
print(quote.lower())
my_name = 'Faisal'
print(my_name.upper())
print(my_name.lower())
print(my_name.swapcase())
print(my_name.capitalize())

"OPOP APALAH SAYA"
"opop apalah saya"
FAISAL
faisal
fAISAL
Faisal

In [63]:
#Variabel string juga dapat ditimpa dengan menggunakan perintah di atas
quote = quote.upper()
print(quote)

"OPOP APALAH SAYA"

## String Formatting

Merupakan metode formatting yang dapat digunakan di python.

In [68]:
#Variabel dapat dipanggil untuk ditampilkan dalam bentuk string
#Ada beberapa format string lain yang dapat digunakan selain 'f', namun tidak banyak digunakan di versi Python ini.
print(f"Nama saya {nama}, usia saya {usia} tahun")

Nama saya Faisal Kengo, usia saya 22 tahun

## Indexing & Slicing

Merupakan metode untuk memisahkan karakter tertentu dari suatu string

Berikut adalah contoh indexing:

In [75]:
#Penomoran karakter di dalam string pada python dimulai dari 0
print(quote)
print(quote[2])
#Karakter dapat diambil dari sebelah kanan dengan menambahkan tanda '-'
print(quote[-2])

"OPOP APALAH SAYA"
P
A

Berikut adalah contoh slicing:

In [94]:
#Penomoran karakter di dalam string pada python dimulai dari 0
print(quote)
#digit pertama merupakan indeks awal (inklusif -termasuk ke dalam hasil irisan)
#digit kedua merupakan indeks akhir (ekslusif -tidak termasuk ke dalam hasil irisan)
#digit ketiga merupakan step
print(quote[1:5:1])
#nilai digit ketiga secara default adalah 1 apabila tidak ditulis
print(quote[1:5])
#string akan dimulai dari karakter yang ditunjuk pada digit pertama hingga selesai apabila hanya digit pertama yang dimasukkan
print(quote[1:])
#string akan muncul apa adanya apabila semua digitnya tidak didefinisikan
print(quote[:])
#slicing dapat dilakukan secara terbalik, dengan digit ketiga menandakan arah string yang akan diambil
print(quote[4:0:-1])

"OPOP APALAH SAYA"
OPOP
OPOP
OPOP APALAH SAYA"
"OPOP APALAH SAYA"
POPO

## Boolean

Boolean merupakan variabel logika yang hanya memiliki dua nilai, benar (True) atau salah (False)

## Operasi

Merupakan suatu hal yang dilakukan untuk memanipulasi dua atau lebih data yang digunakan. Operasi terdiri dari operasi aritmatika, operasi perbandingan, operasi logika, dan operasi keanggotaan

Berikut adalah contoh operasi aritmatika:

In [102]:
#Penjumlahan
print(5 + 6)
#Pengurangan
print(5 - 6)
#Perkalian
print(5 * 6)
#Pembagian biasa
print(5 / 2)
#Pembagian integer
print(5 // 2)
#Pembagian sisa bagi
print(5 % 2)
#Perpangkatan
print(5 ** 2)

11
-1
30
2.5
2
1
25

Berikut adalah contoh operasi aritmatika pada string:

In [107]:
#Tanda '+' untuk string digunakan untuk menggabungkan dua buah variabel string
nama_depan = "Faisal"
nama_belakang = "Kengo"
print(nama_depan + nama_belakang)
#Variabel string dapat dikalikan dengan bilangan bulat
print(nama_belakang * 3)

FaisalKengo
KengoKengoKengo

Berikut adalah contoh operasi perbandingan:

In [110]:
#Operasi perbandingan sama deengan
print(5 == 3)
#Operasi perbandingan lebih besar sama dengan
print(5 >= 3)
#Operasi perbandingan lebih kecil sama dengan
print(5 <= 3)
#Operasi perbandingan lebih besar
print(5 > 3)
#Operasi perbandingan lebih kecil
print(5 < 3)
#Operasi perbandingan tidak sama dengan
print(5 != 3)

False
True
False
True
False
True

In [112]:
#Hasil dari operasi perbandingan dapat disimpan di dalam suatu variabel
hasil = 5 < 3
print(hasil)

False

Operasi logika nantinya akan banyak digunakan dalam proses 'if'/'else'. Berikut adalah contoh operasi logika (operasi yang menggunakan dua atau lebih operasi perbandingan):

In [116]:
#Contoh operasi logika 'and'
#Operasi 'and' dapat diibaratkan sebagai operasi perkalian antara 1 dan/atau 0
print(True and True)
print(True and False)
print(False and True)
print(False and False)
#Contoh operasi logika 'or'
#Operasi 'or' dapat diibaratkan sebagai operasi penjumlahan antara 1 dan/atau 0
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
False
False
False
True
True
True
False

Operasi keanggotaan merupakan suatu operasi untuk mengecek apakah komponen yang ditunjuk merupakan bagian dari himpunan yang lebih besar

In [122]:
print(quote)
print("OP" in quote)
#Operasi ini sensitif terhadap besar-kecilnya huruf
print("op" in quote)

buahbuahan = ("Pepaya", "Mangga", "Apel", "Jeruk")
print("Mangga" in buahbuahan)
print("mangga" in buahbuahan)

"OPOP APALAH SAYA"
True
False
True
False

## List, Tuple, dan Dictionary

Variabel 'tuple' merupakan variabel data majemuk yang ketika data-datanya sudah dimasukkan tidak dapat diubah kembali, sedangkan ketika data-data sudah dimasukkan ke dalam variabel 'list' isinya masih bisa dapat diubah.

Berikut ini adalah contoh variabel data tuple:

In [129]:
tuple_1 = ("Faisal", 4, 20, 6.9, False, (7, 2, 7.0))
#Konsep indexing juga berlaku di dalam variabel data majemuk
print(tuple_1[2])
#Data string pada variabel data majemuk juga dapat diiris
print(tuple_1[0][3:6:1])
#Data-data yang terdapat dalam variabel dapat diiris
print(tuple_1[1:4])
#Jumlah elemen dalam data majemuk dapat dihitung
print(len(tuple_1))

20
sal
(4, 20, 6.9)
6

Berikut ini adalah contoh variabel data list:

In [137]:
list_1 = ["Faisal", 4, 20, 6.9, False, (7, 2, 7.0)]
#Konsep indexing juga berlaku di dalam variabel data majemuk
print(list_1[2])
#Data string pada variabel data majemuk juga dapat diiris
print(list_1[0][3:6:1])
#Data-data yang terdapat dalam variabel dapat diiris
print(list_1[1:4])
#Jumlah elemen dalam data majemuk dapat dihitung
print(len(list_1))
#Elemen dalam variabel masih dapat diubah
list_1[0] = "Kengo"
print(list_1)
#Variabel dapat ditambahkan elemen baru di bagian belakang
list_1.append("Faisal")
print(list_1)
#Variabel dapat ditambahkan di posisi tertentu dengan mengspesifikasikan posisi indeksnya
list_1.insert(1, "OPOP")
print(list_1)
#Menghapus elemen variabel berdasarkan nilai
list_1.remove((7, 2, 7.0))
print(list_1)
#Menghapus elemen variabel berdasarkan indeks
del list_1[5]
print(list_1)

20
sal
[4, 20, 6.9]
6
['Kengo', 4, 20, 6.9, False, (7, 2, 7.0)]
['Kengo', 4, 20, 6.9, False, (7, 2, 7.0), 'Faisal']
['Kengo', 'OPOP', 4, 20, 6.9, False, (7, 2, 7.0), 'Faisal']
['Kengo', 'OPOP', 4, 20, 6.9, False, 'Faisal']
['Kengo', 'OPOP', 4, 20, 6.9, 'Faisal']

Berikut ini merupakan contoh variabel data dictionary:

In [144]:
biodata = {"Nama Depan": "Faisal", "Nama Belakang": "Kengo", "Usia": "22"}
#Perintah untuk memanggil nilai dari variabel dictionary
print(biodata["Nama Belakang"])
#Perintah untuk melihat data di dalam variabel dictionary
print(biodata.keys())
#Perintah untuk melihat nilai di dalam variabel dictionary
print(biodata.values())
#Nilai di dalam variabel bisa diubah dan ditambah
biodata["Usia"] = 23
biodata["Jenis Kelamin"] = "Laki-laki"
print(biodata)
#Nilai di dalam variabel bisa dihapus dengan mengspesifikasi data apa yang ingin dihapus
del biodata["Usia"]
print(biodata)

Kengo
dict_keys(['Nama Depan', 'Nama Belakang', 'Usia'])
dict_values(['Faisal', 'Kengo', '22'])
{'Nama Depan': 'Faisal', 'Nama Belakang': 'Kengo', 'Usia': 23, 'Jenis Kelamin': 'Laki-laki'}
{'Nama Depan': 'Faisal', 'Nama Belakang': 'Kengo', 'Jenis Kelamin': 'Laki-laki'}